# Part 4. Car dataset preparation for further analyses

Before performing any analysis, it is essential to prepare the data. We used basic pandas "cleaning", so that the appropriate methods can be applied on the data.

## 1. Importing libraries

In [3]:
import pandas as pd
import numpy as np
import altair as alt
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
from sklearn import preprocessing 
from tqdm import tqdm, trange

In [4]:
alt.data_transformers.disable_max_rows()

DataTransformerRegistry.enable('default')

## 2. Loading data

For 2021 dataset we used the results from Supervised learning prediction of ENEDC feature.

In [6]:
df2021_predicted = pd.read_pickle('predicted_2021')
df2021 = pd.read_csv('data/data2021.csv', low_memory=False)

In [7]:
df2021['Country']= df2021['Country'].str.lower()
df2021['Mh']= df2021['Mh'].str.lower()
df2021['Man']= df2021['Man'].str.lower()
df2021['Mk']= df2021['Mk'].str.lower()
df2021['Cn']= df2021['Cn'].str.lower()
df2021['Ft']= df2021['Ft'].str.lower()
df2021['Fm']= df2021['Fm'].str.lower()

In [8]:
#Splitting original 2021 dataframe into df1 and df2 dataframes with ENEDC and without ENEDC feature accordingly
df1=df2021[df2021['Enedc (g/km)'].notnull()]
df2=df2021[df2021['Enedc (g/km)'].isnull()]

In [9]:
# Removing all the rows from df2 (with missing ENEDC feature), where any other feature is missing
df3 = df2.dropna(thresh=2)
df3['year'] = 2021

In [10]:
# Filling missing ENEDC feature in df3 dataframe with df2021 predicted results based on other features
df4 = pd.merge(df3, df2021_predicted, how='left', left_on=['Country', 'Mh', 'Man', 'Mk', 'Cn', 'm (kg)', 'Ft', 'Fm', 'ec (cm3)', 'year'], 
               right_on=['Country', 'Mh', 'Man', 'Mk', 'Cn', 'm (kg)', 'Ft', 'Fm', 'ec (cm3)', 'year'])
df4.drop('Enedc (g/km)_x', axis=1, inplace=True)
df4.rename(columns={"Enedc (g/km)_y": "Enedc (g/km)"}, inplace=True)

In [11]:
# Concatenating the resulted datafrane df4 with df1 (original 2021 dataset with filled ENEDC column)
df2021_concat = pd.concat([df4, df1], axis=0)
# And saving as data2021_updated.csv
df2021_concat.to_csv('data/data2021_updated.csv')

In [12]:
df2021_concat.head()

,ID,Country,VFN,Mp,Mh,Man,MMS,Tan,T,Va,...,Ernedc (g/km),Erwltp (g/km),De,Vf,Status,year,Date of registration,Fuel consumption,Electric range (km),Enedc (g/km)
0,57567541,is,IP-C519_2020_00023-WF0-1,FORD,ford werke gmbh,ford werke gmbh,NaN,E13*2007/46*1911*13,DEH,B7DA1PX,...,NaN,NaN,NaN,NaN,P,2021,2021-12-17,NaN,NaN,130.539630
1,57567542,is,IP-C519_2020_00023-WF0-1,FORD,ford werke gmbh,ford werke gmbh,NaN,E13*2007/46*1911*13,DEH,B7DA1PX,...,NaN,NaN,NaN,NaN,P,2021,2021-12-08,NaN,NaN,130.539630
2,57567543,is,IP-C519_2020_00023-WF0-1,FORD,ford werke gmbh,ford werke gmbh,NaN,E13*2007/46*1911*13,DEH,B7DA1NX,...,NaN,NaN,NaN,NaN,P,2021,2021-11-25,NaN,NaN,129.179418
3,57567544,is,IP-C519_2020_00023-WF0-1,FORD,ford werke gmbh,ford werke gmbh,NaN,E13*2007/46*1911*13,DEH,B7DA1NX,...,NaN,NaN,NaN,NaN,P,2021,2021-11-03,NaN,NaN,129.179418
4,57567545,is,IP-C519_2020_00023-WF0-1,FORD,ford werke gmbh,ford werke gmbh,NaN,E13*2007/46*1911*13,DEH,B7DA1NX,...,NaN,NaN,NaN,NaN,P,2021,2021-10-29,NaN,NaN,129.179418

In [13]:
#Loading all the datasets with updated 2021 one.
df2010 = pd.read_csv('data/data2010.csv', low_memory=False)
df2011 = pd.read_csv('data/data2011.csv', low_memory=False)
df2012 = pd.read_csv('data/data2012.csv', low_memory=False)
df2013 = pd.read_csv('data/data2013.csv', low_memory=False)
df2014 = pd.read_csv('data/data2014.csv', low_memory=False)
df2015 = pd.read_csv('data/data2015.csv', low_memory=False)
df2016 = pd.read_csv('data/data2016.csv', low_memory=False)
df2017 = pd.read_csv('data/data2017.csv', low_memory=False)
df2018 = pd.read_csv('data/data2018.csv', low_memory=False)
df2019 = pd.read_csv('data/data2019.csv', low_memory=False)
df2020 = pd.read_csv('data/data2020.csv', low_memory=False)
df2021 = pd.read_csv('data/data2021_updated.csv', low_memory=False)

Filtering the features

In [14]:
df2010 = df2010[['Country','Mk','Cn','m (kg)','Enedc (g/km)', 'Ft', 'Fm', 'ec (cm3)']]
df2011 = df2011[['Country','Mk','Cn','m (kg)','Enedc (g/km)', 'Ft', 'Fm', 'ec (cm3)']]
df2012 = df2012[['Country','Mk','Cn','m (kg)','Enedc (g/km)', 'Ft', 'Fm', 'ec (cm3)']]
df2013 = df2013[['Country','Mk','Cn','m (kg)','Enedc (g/km)', 'Ft', 'Fm', 'ec (cm3)']]
df2014 = df2014[['Country','Mk','Cn','m (kg)','Enedc (g/km)', 'Ft', 'Fm', 'ec (cm3)']]
df2015 = df2015[['Country','Mk','Cn','m (kg)','Enedc (g/km)', 'Ft', 'Fm', 'ec (cm3)']]
df2016 = df2016[['Country','Mk','Cn','m (kg)','Enedc (g/km)', 'Ft', 'Fm', 'ec (cm3)']]
df2017 = df2017[['Country','Mk','Cn','m (kg)','Enedc (g/km)', 'Ft', 'Fm', 'ec (cm3)']]
df2018 = df2018[['Country','Mk','Cn','m (kg)','Enedc (g/km)', 'Ft', 'Fm', 'ec (cm3)']]
df2019 = df2019[['Country','Mk','Cn','m (kg)','Enedc (g/km)', 'Ft', 'Fm', 'ec (cm3)']]
df2020 = df2020[['Country','Mk','Cn','m (kg)','Enedc (g/km)', 'Ft', 'Fm', 'ec (cm3)']]
df2021 = df2021[['Country','Mk','Cn','m (kg)','Enedc (g/km)', 'Ft', 'Fm', 'ec (cm3)']]

In [15]:
# Adding "year" column
df2010["year"] = 2010
df2011["year"] = 2011
df2012["year"] = 2012
df2013["year"] = 2013
df2014["year"] = 2014
df2015["year"] = 2015
df2016["year"] = 2016
df2017["year"] = 2017
df2018["year"] = 2018
df2019["year"] = 2019
df2020["year"] = 2020
df2021["year"] = 2021

In [16]:
# Removing all the NaN values from the dataset
df2010 = df2010.dropna()
df2011 = df2011.dropna()
df2012 = df2012.dropna()
df2013 = df2013.dropna()
df2014 = df2014.dropna()
df2015 = df2015.dropna()
df2016 = df2016.dropna()
df2017 = df2017.dropna()
df2018 = df2018.dropna()
df2019 = df2019.dropna()
df2020 = df2020.dropna()
df2021 = df2021.dropna()

In [17]:
#Checking the length of each dataset
len(df2010),len(df2011),len(df2012),len(df2013),len(df2014),len(df2015),len(df2016),len(df2017),len(df2018),len(df2019),len(df2020),len(df2021)

(226142,
 292891,
 315633,
 395238,
 388748,
 430470,
 488045,
 4904122,
 15049428,
 15141857,
 10976458,
 8332674)

In [18]:
#Combining all the datasets into one dataframe
df_list_full = [df2010,
           df2011,
           df2012,
           df2013,
           df2014,
           df2015,
           df2016,
           df2017,
           df2018,
           df2019,
           df2020,
           df2021]
combined_df_full = pd.concat(df_list_full, axis=0)

In [19]:
combined_df_full.head()

,Country,Mk,Cn,m (kg),Enedc (g/km),Ft,Fm,ec (cm3),year
0,GB,VAUXHALL,ZAFIRA SRI XP 150 CDTI A,1613.0,191.0,diesel,M,1910.0,2010
1,GB,VAUXHALL,ZAFIRA ACTIVE,1503.0,177.0,petrol,M,1796.0,2010
2,GB,VAUXHALL,AGILA DESIGN,1160.0,120.0,diesel,M,1248.0,2010
3,GB,VAUXHALL,ASTRA SRI TURBO,1393.0,138.0,petrol,M,1364.0,2010
4,GB,VAUXHALL,ZAFIRA ELITE CDTI AUTO,1613.0,186.0,diesel,M,1910.0,2010

## 3. Manufacture name feature cleaning

For unsupervised methods we used three numeric features: Mass (kg), ENEDC (g/km) and Engine capacity (cm3) and one categorical Mk feature. But before using categorical feature, we need to clean it.

### 3a str.lower()

In [20]:
# Creating a copy of column Mk with str.lower funtcion
combined_df_full['Mk_clean']= combined_df_full['Mk'].str.lower()

### 3b Correcting the manufacture name feature

Overall, the manufacture name column requires cleaning, we manually fixed the name of manufacture for 87 main car producers.

In [21]:
dictionary = {'alfa.+': 'alfaromeo',
 'societe des automobiles alpine saa': 'alpine',
 'aston.+': 'aston-martin',
 'audi.+': 'audi',
 'adi': 'audi',
 'fx': 'audi',
 'gy': 'audi',
 'a.u.d.i.': 'audi',
 'b-style.+': 'b-style&flex-i-trans',
 'bentley.+': 'bentley',
 'bmw.+': 'bmw',
 'alpina': 'bmw',
 'b m w': 'bmw',
 'b.m.w.': 'bmw',
 'caterham.+': 'caterham',
 'chevrolet.+': 'chevrolet',
 'citroen.+': 'citroen',
 'citroÃ«n': 'citroen',
 'citroÃ£â€¹n': 'citroen',
 'dfsk.+': 'dfsk',
 'dfm': 'dfsk',
 'dodge.+': 'dodge',
 'fiat.+': 'fiat',
 '08p': 'fiat',
 'iveco - fiat': 'fiat',
 'ford.+': 'ford',
 'jhh': 'ford',
 'general motors.+': 'gm',
 'general motors': 'gm',
 'gm.+': 'gm',
 'great wall.+': 'great wall',
 'greyt wall': 'great wall',
 'honda.+': 'honda',
 'hyundai.+': 'hyundai',
 'huyndai': 'hyundai',
 'hiundai': 'hyundai',
 'infiniti/pgd': 'infiniti',
 'jaguar.+': 'jaguar',
 'janguar.+': 'jaguar',
 'kia.+': 'kia',
 'automobili lamborghini.+': 'lamborghini',
 'lamborghimi': 'lamborghini',
 'automobili lamborghini': 'lamborghini',
 'lamborghin': 'lamborghini',
 'land.+': 'landrover',
 'mclaren': 'mc laren',
 'mercedes.+': 'mercedes',
 'mercdes.+': 'mercedes',
 'r1eamg': 'mercedes',
 'r1ecls': 'mercedes',
 'brabus automotive': 'mercedes',
 'mecedes-benz': 'mercedes',
 'mitsubishi.+': 'mitsubishi',
 'mitsubish': 'mitsubishi',
 'nissan.+': 'nissan',
 'open': 'opel',
 'opel.+': 'opel',
 'peugeot.+': 'peugeot',
 'pugeot': 'peugeot',
 'peugot': 'peugeot',
 'automobiles peugeot': 'peugeot',
 'dringhcfporsche': 'porsche',
 'porsche.+': 'porsche',
 'range.+': 'rangerover',
 'renault.+': 'renault',
 'rolls.+': 'rolls-royce',
 'seat.+': 'seat',
 'Å¡koda': 'skoda',
 'skoda.+': 'skoda',
 'daimler smart': 'smart',
 'ssangyong.+': 'ssangyong',
 'subaru.+': 'subaru',
 'suzuki.+': 'suzuki',
 'Ã®Å“Ã®â€˜ruti suzuki': 'suzuki',
 'susuki': 'suzuki',
 'tesla.+': 'tesla',
 'kgb10l': 'toyota',
 'lada': 'vaz',
 'lada.+': 'vaz',
 'avtovaz': 'vaz',
 'waz': 'vaz',
 'vaz.+': 'vaz',
 'volkswagen.+': 'volkswagen',
 'vw': 'volkswagen',
 'vokswagen vw': 'volkswagen',
 'volvo.+': 'volvo',
 '3olvo': 'volvo'}

In [22]:
combined_df_full['Mk_clean'] = combined_df_full['Mk_clean'].replace(dictionary, regex=True)

## 4. Splitting dataset by year

Then we separated the combined dataset with 'clean' manufacture name by year and saved as csv files.

In [23]:
df2010_clean = combined_df_full[combined_df_full['year']==2010]
df2011_clean = combined_df_full[combined_df_full['year']==2011]
df2012_clean = combined_df_full[combined_df_full['year']==2012]
df2013_clean = combined_df_full[combined_df_full['year']==2013]
df2014_clean = combined_df_full[combined_df_full['year']==2014]
df2015_clean = combined_df_full[combined_df_full['year']==2015]
df2016_clean = combined_df_full[combined_df_full['year']==2016]
df2017_clean = combined_df_full[combined_df_full['year']==2017]
df2018_clean = combined_df_full[combined_df_full['year']==2018]
df2019_clean = combined_df_full[combined_df_full['year']==2019]
df2020_clean = combined_df_full[combined_df_full['year']==2020]
df2021_clean = combined_df_full[combined_df_full['year']==2021]

In [ ]:
df2010_clean.to_csv('df2010_clean12Feb.csv')
df2011_clean.to_csv('df2011_clean12Feb.csv')
df2012_clean.to_csv('df2012_clean12Feb.csv')
df2013_clean.to_csv('df2013_clean12Feb.csv')
df2014_clean.to_csv('df2014_clean12Feb.csv')
df2015_clean.to_csv('df2015_clean12Feb.csv')
df2016_clean.to_csv('df2016_clean12Feb.csv')
df2017_clean.to_csv('df2017_clean12Feb.csv')
df2018_clean.to_csv('df2018_clean12Feb.csv')
df2019_clean.to_csv('df2019_clean12Feb.csv')
df2020_clean.to_csv('df2020_clean12Feb.csv')
df2021_clean.to_csv('df2021_clean12Feb.csv')

## 5. Sampling 100 000 samples from each year dataset and combining them into one dataframe which was further used for unsupervised learning methods

To equally represent each year, each yearâ€™s dataset was sampled by 100 000 samples and then combined to the final dataset with 1 200 000 samples in total. Features used for clustering: vehicle mass (numeric), engine capacity (numeric), ENEDC (numeric) and vehicle manufacture (categorical -transformed later to label).

In [24]:
df2010_clean = pd.read_csv('df2010_clean12Feb.csv', low_memory=False)
df2011_clean = pd.read_csv('df2011_clean12Feb.csv', low_memory=False)
df2012_clean = pd.read_csv('df2012_clean12Feb.csv', low_memory=False)
df2013_clean = pd.read_csv('df2013_clean12Feb.csv', low_memory=False)
df2014_clean = pd.read_csv('df2014_clean12Feb.csv', low_memory=False)
df2015_clean = pd.read_csv('df2015_clean12Feb.csv', low_memory=False)
df2016_clean = pd.read_csv('df2016_clean12Feb.csv', low_memory=False)
df2017_clean = pd.read_csv('df2017_clean12Feb.csv', low_memory=False)
df2018_clean = pd.read_csv('df2018_clean12Feb.csv', low_memory=False)
df2019_clean = pd.read_csv('df2019_clean12Feb.csv', low_memory=False)
df2020_clean = pd.read_csv('df2020_clean12Feb.csv', low_memory=False)
df2021_clean = pd.read_csv('df2021_clean12Feb.csv', low_memory=False)

In [25]:
n=2

In [26]:
df_list = [df2010_clean.sample(n = 100000,random_state=n),
           df2011_clean.sample(n = 100000,random_state=n),
           df2012_clean.sample(n = 100000,random_state=n),
           df2013_clean.sample(n = 100000,random_state=n),
           df2014_clean.sample(n = 100000,random_state=n),
           df2015_clean.sample(n = 100000,random_state=n),
           df2016_clean.sample(n = 100000,random_state=n),
           df2017_clean.sample(n = 100000,random_state=n),
           df2018_clean.sample(n = 100000,random_state=n),
           df2019_clean.sample(n = 100000,random_state=n),
           df2020_clean.sample(n = 100000,random_state=n),
           df2021_clean.sample(n = 100000,random_state=n)]
combined_df = pd.concat(df_list, axis=0)

In [29]:
combined_df.sample(5)

,Unnamed: 0,Country,Mk,Cn,m (kg),Enedc (g/km),Ft,Fm,ec (cm3),year,Mk_clean
26362,26643,CZ,VOLKSWAGEN,GOLF SPORTSVAN,1474.0,114.0,Diesel,M,1968.0,2016,volkswagen
54433,61659,GB,VOLVO,XC60 SE LUX D3 AUTO,1871.0,178.0,diesel,M,1984.0,2012,volvo
248128,279602,GB,TOYOTA,PRIUS T4 VVT-I CVT,1480.0,92.0,petrol,B,1798.0,2012,toyota
43247,49031,GB,VAUXHALL,ZAFIRA DESIGN NAV,1550.0,168.0,petrol,M,1796.0,2012,vauxhall
365892,412544,IT,NISSAN,NISSAN QASHQAI,1343.0,144.0,PETROL,M,1598.0,2013,nissan

In [960]:
# saving csv file
combined_df.to_csv(â€˜combined_df.csvâ€™)